<body class=fondo>

</body>

<div class="slide" id="slide2">  
    <img class="img1" src="/home/images (4).jpg" />
    <img class="img2" src="/home/images (2).jpg" />
    <img class="img3" src="/home/images (3).jpg" />
    <img class="img4" src="/home/images.jpg" />
    <img class="img5" src="/home/descarga.jpg" />
</div>


<div class="slide" id="slide1">
	<img class="img1" src="/home/images (4.jpg" />
	<img class="img2" src="/home/images5.jpg" />
	<img class="img3" src="/home/images (2.jpg" />
	<img class="img4" src="/home/images (3.jpg" />
	<img class="img5" src="/home/descarga1.jpg" />
</div>
    <div class=titulo>
		<h1><p>Intercambia</p> <p>tu casa de</p> <p>vacaciones</p></h1>
	</div>