<body class="fondo">
<% if user_signed_in? %>
<%= link_to (submit_tag "Mi Area", class: "boton3"), new_casa_path %>
<%= link_to (submit_tag "Salir", class: "boton2"), destroy_user_session_path, method: "DELETE" %>
<% else %>
<%= link_to (submit_tag "Identificate", class: "boton"), new_user_session_path %>
<%= link_to (submit_tag "Registrate", class: "boton1"), new_user_registration_path %>
<% end %>
<div class="slide" id="slide2">  
    <img class="img1" src="/home/images (4).jpg" />
    <img class="img2" src="/home/images (2).jpg" />
    <img class="img3" src="/home/images (3).jpg" />
    <img class="img4" src="/home/images.jpg" />
    <img class="img5" src="/home/descarga.jpg" />
</div>


<div class="slide" id="slide1">
	<img class="img1" src="/home/images (4.jpg" />
	<img class="img2" src="/home/images5.jpg" />
	<img class="img3" src="/home/images (2.jpg" />
	<img class="img4" src="/home/images (3.jpg" />
	<img class="img5" src="/home/descarga1.jpg" />
</div>
    <div class=titulo>
		<h1><p>Intercambia</p> <p>tu Casa de</p> <p>Vacaciones</p></h1>
	</div>
</body>