.boton1{
   font-size: 200%;
   font-family: Rage Italic;
   color: white;
   background-color: transparent;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   float: left;
   margin: 3%;
}
.boton{
   font-size: 200%;
   font-family: Rage Italic;
   color: white;
   background-color: transparent;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   float: right;
   margin: 3%;
   margin-left: 55%;
}
.boton2{
   font-size: 200%;
   font-family: Rage Italic;
   color: white;
   background-color: transparent;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   float: center;
   margin: 3%;
   margin-right: 34%;
   float: right;
}
.boton3{
   font-size: 200%;
   font-family: Rage Italic;
   color: white;
   background-color: transparent;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   float: center;
   margin: 3%;
   margin-left: 34%;
}
h1 {
   color: #FFFFFF;
	font-family: Rage Italic;
	text-align: center;
	display:inline;
	font-size: 300%;
	margin-top: 40%;
}
.titulo{
	background-color: transparent; 
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.fondo {
		height: 100%;
        background: url(images.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
}
.caja {
	background-color: red;
	width: 500px;
	height: 500px;
}
#slide1{
   border: 10px solid black;
   margin-right: 3%;
   width: 30%;
   height: 280px;
   display:inline-block;
   position: relative;
   float: right;
 }
#slide2{
   border: 10px solid black;
   margin-left: 3%;
   width: 30%;
   height: 280px;
   display:inline-block;
   position: relative;
   float: left;
 }

.slide img{
   width: 100%;
   height: 100%;
   position: absolute;
}
.slide .img2, .slide .img3, .slide .img4, .slide .img5 {
   display: none;
}
.mapa {
   margin: 30px 0px 30px 5%;
   height: 300px;
   width: 66%;
   
}